.buttons{
    width: 100%;
}
.buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 15px;
}
.buttons__button{
    width: calc(50% - 20px);
    background: #73B0FF;
    border-radius: 50px;
    font-family: Roboto;
    font-size: 36px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.3s;
}
.buttons__button:hover{
    background-color: #5ea4ff;
}