.news{
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
}
.news__container{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-wrap: wrap;
}
.news__container .news-item{
    width: calc(33.33333333% - 20px);
}