.news-item{
    background: #E7E7E7;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.news-item__img{
    width: 100%;
    height: 215px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
}
.news-item__title{
    padding: 0px 20px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    color: #8B8B8B;
    margin-bottom: 5px;
}
.news-item__text{
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    color: #8B8B8B;
    margin-bottom: 10px;
    padding: 0px 20px;
}
.news-item__date{
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    color: #8B8B8B;
    padding: 0px 20px 20px 20px;
    margin-top: auto;
    width: 100%;
    text-align: right;
}