.search{
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
}
.search__input{
    height: 100%;
    width: 100%;
    padding: 0px 40px;
    background-color: #E7E7E7;
    font-size: 36px;
    line-height: 60px;
    color: #8B8B8B;
    border-radius: 50px;
    border: none;
}