.button{
    width: 100%;
    text-align: center;
    background: #2684FE;
    border-radius: 35px;
    font-size: 30px;
    line-height: 70px;
    color: #FFFFFF;
    height: 70px;
    border: none;
    cursor: pointer;
}