.input{
    background: #FFFFFF;
    border: 2px solid #2684FE;
    border-radius: 35px;
    width: 100%;
    padding: 0 35px;
    font-size: 30px;
    line-height: 70px;
    height: 70px;
    color: #000000;
    margin-bottom: 30px;
}