.popup .news-item{
    width: 300px;
    margin-left: 0;
}
.accept-news{
    background: #BDA9A9;
}
.round-button{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    cursor: pointer;
}
.notaccept-news{
    background: #DA5959;
}
.newsmanager-item{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D8C7C7;
    display: flex;
    justify-content: space-between;
}
.newsmanager-item:last-child{
    border-bottom: none;
}
.manager-item-buttons{
    display: flex;
    flex-direction: column;
}
.manager-item-buttons > div{
    margin-bottom: 15px;
}
