.photo__input{
    display: none;
}
.photo{
    margin-bottom: 25px;
}
.photo__label{
    cursor: pointer;
    padding: 13px 55px 44px 55px;
    background: #C4C4C4;
    border-radius: 20px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    height: 204px;
    width: 310px;
}
.photo__label p{
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 96px;
    line-height: 112px;
    color: #FFFFFF;
    text-align: center;
    transition: 0.3s;
}
.photo__label span{
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    display: inline-block;
    width: 100%;
    text-align: center;
}
