.popups{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;

}
.popup{
    background: #FFFFFF;
    border-radius: 20px;
    padding: 40px;
    margin: auto;
    width: 650px;
    position: relative;
    z-index: 2;
}
.popups__overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.2);
    cursor: pointer;
}