.textarea{
    background: #FFFFFF;
    border: 2px solid #2684FE;
    border-radius: 10px;
    width: 100%;
    padding: 15px 35px;
    font-size: 30px;
    line-height: 35px;
    height: 205px;
    color: #000000;
    margin-bottom: 30px;
    resize: none;
    overflow: auto;
}


.textarea::-webkit-scrollbar {
    width: 10px;
}

.textarea::-webkit-scrollbar-track {
    background-color:#edeadf;
    border-radius: 10px;
}

.textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#2684FE;
}

