.main__container{
    height: calc(100vh - 71px);
}
.main__container .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 80px;
    color: #2684FE;
}