header{
    background: #2684FE;
    font-size: 24px;
    padding: 21px 0px;
    height: 71px;
}
header .header__item{
    color: #fff;
    margin-right: 30px;
    position: relative;
    cursor: pointer;
}
header .header__item::before{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0px;
    background: #fff;
    content: '';
    transition: 0.3s;
}
header .header__item:hover::before{
    width: 100%;
}

header .header__item:last-child{
    margin-right: 0;
    margin-left: auto;
}
header .wrapper{
    display: flex;
}