body{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
*{
    box-sizing: border-box;
    outline: none;
}
.wrapper{
    width: 1150px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}